<div id="page-content">
  <!-- Jumbotron is v5 -->
  <div id="home">
    <div class="container jumbotron bg-light text-dark p-5 text-center text-white">
      <h1 class="display-2">Alpha Blog</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <a class="btn btn-primary btn-lg" id="signup-btn" href="#" role="button">Sign Up</a>
    </div>
  </div>

  <%= link_to 'Articles Listing', articles_path%> <br>
  <%= link_to 'About Page', about_path%> <br>
  <%= link_to 'Contacts', contact_path%> <br>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Your website</small>
  </div>
</footer>