<h1 class="text-center text-dark mt-5">Edit Category Name</h1>

<div class="container mt-4">

  <div class="input-group justify-content-center">
    <div class="col-10">
      <%= render 'form' %>
    </div>
  </div>
</div>

<div class="text-center mb-3">
  <%= link_to '[Cancel and Return]', category_path(@category), class:"text-white" %>
</div>